header {
 background-color: black;
}

.nav {
  color: white;

  &__logo1 {
    display: inline-block;
    width: 2%;
    height: auto;
    position: relative;
    top: 10px;
  }  
    &__h1 {
      display: inline-block;
      font-size: 98%;
    }
      &__liste1 {
          display: inline-block;
          margin-left: 32%;

        &__li {
          display: inline;
        }
      }
        
           &__hote {
        display: inline-block;
        margin-left: 26%;

    
           }
     &__icon1 {
          display: inline-block;
          width: 2%;
          height: auto;
          position: relative;
          top: 10px;
     }
     &__menu {
         display: inline-block;
         background-color: rgb(255, 255, 255);
         height: 35px;
         width: 75px;
         border-radius: 30%;
         

     &__icon2 {
        display: inline-block;
        width: 100%;
        height: auto;
        position: relative;
        top: 10px;  
         }
       &__icon3 {
        display: inline-block;
        width: 200px;
        height: auto;
        position: relative;
        top: 10px;
         }
        }
   }
  



.bord_recherche {
    display: inline-block;
    background-color: white;
    height: 150px;
    width: 350px;
    border-radius: 30%;
}

.recherche {
    display: inline-block;
    color: white;
    

}

































.bloque1 {
  background-color: #969491;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  color: white;
  text-align: center;
  border-radius: 10px;
}
.bouton1 {
  display: block;
  background-color: rgb(233, 186, 32);
}
